<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Details</title>
</head>
<body>
<h2>Quiz Details</h2>
<!--/*@thymesVar id="question" type="mst.codegym.model.TestQuestion"*/-->
<th:block th:object="${question}">
    <table>
        <tr>
            <th>Id:</th>
            <td>
                <p th:text="*{id}"></p>
            </td>
        </tr>
        <tr>
            <th>Content:</th>
            <td>
                <th:markdown th:value="*{content}"/>
            </td>
        </tr>
        <tr>
            <th>Description:</th>
            <td>
                <p th:text="*{descriptions}"></p>
                <p><i>(<span th:text="*{hint}"></span>)</i></p>
            </td>
        </tr>
        <tr>
            <th>Weight:</th>
            <td>
                Not setted
            </td>
        </tr>
        <tr>
            <th>Order Relevance:</th>
            <td>
                Not setted
            </td>
        </tr>
    </table>
</th:block>
</body>
</html>